ANALYTICS_INTERNAL_TOKEN=change-me
ANALYTICS_POSTGRES_HOST=127.0.0.1
ANALYTICS_POSTGRES_PORT=15432
ANALYTICS_POSTGRES_DB=student
ANALYTICS_POSTGRES_USER=student
ANALYTICS_POSTGRES_PASSWORD=st1211@98w
ANALYTICS_POSTGRES_CONNECT_TIMEOUT=5
ANALYTICS_HOURLY_TABLE=student_schema.electricity_sensor_readings_hourly
ANALYTICS_TIMEZONE=Europe/Moscow
