POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=15432
POSTGRES_USER=student
POSTGRES_PASSWORD=change-me
POSTGRES_CONNECT_TIMEOUT=5
POSTGRES_KEEPALIVES=1
POSTGRES_KEEPALIVES_IDLE=30
POSTGRES_KEEPALIVES_INTERVAL=10
POSTGRES_KEEPALIVES_COUNT=5

DJANGO_POSTGRES_DB=student
DJANGO_POSTGRES_OPTIONS=-c search_path=student_schema,public

SOURCE_POSTGRES_DB=paradigm_db
ENERGY_AGG_POSTGRES_DB=student
ENERGY_METADATA_DB_ALIAS=source
ENERGY_ANALYTICS_DB_ALIAS=analytics

ENERGY_POWER_TABLE=electricity_sensor_readings
ENERGY_HOURLY_TABLE=student_schema.electricity_sensor_readings_hourly
ENERGY_DAILY_TABLE=student_schema.electricity_sensor_readings_daily
ENERGY_DEFAULT_LOOKBACK_HOURS=24
